{% extends 'main/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}


{% block body %}

<section class="container my-4">

    <h2 class="alert alert-danger text-center">For Emergency Call : 0999</h2>

    <div class="jumbotron">
        <h1 class="display-4">How to report a crime...</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati hic expedita harum ipsa pariatur adipisci error rem, quibusdam consectetur explicabo cupiditate quidem nobis laborum, inventore cum. Quia, odit nam! Quas.</p>
        <hr class="my-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nesciunt delectus dolor suscipit fugiat, quasi dolores laudantium ab blanditiis dolorum at. Magni incidunt non corrupti atque ullam repudiandae, quis fugiat quod, necessitatibus, eaque dolore molestias? Itaque eaque placeat, sunt at, facilis quis consequuntur, eius delectus praesentium odio distinctio adipisci dicta minima numquam eum maxime fugit deleniti fuga voluptas ipsum accusantium illo. Quibusdam ex cupiditate quae voluptatum, est deserunt eaque repellendus ea quis quam rem tempora esse commodi natus magnam, nostrum dolore ipsam? Maiores enim aliquid magnam debitis ratione nam magni eius corrupti impedit doloremque!</p>
        <a class="btn btn-primary btn-lg" href="/main/about" role="button">Learn more</a>
        <a class="btn btn-warning btn-lg" href="/main/reportCrime/" role="button">File a report</a>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <img src="{% static 'main/images/crime.jpg' %}" alt="crime_img" height="300px">
      </div>
      <div class="col-md-6">
        <h2>Zero Tolerance</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at impedit perferendis earum quidem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit omnis laudantium, dolor doloribus quia magni distinctio officiis asperiores minus in, soluta aliquam illo impedit beatae ratione unde repudiandae id veniam! Tenetur blanditiis maxime saepe. Explicabo dolorum, assumenda tenetur expedita impedit placeat odit nihil dignissimos fuga corrupti mollitia laborum error architecto, tempora amet aliquam blanditiis? Magnam totam nostrum beatae pariatur. Dolore, molestias omnis!</p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <h2>Ensure Safety</h2>
        <p>Ducimus at impedit perferendis earum quidem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit omnis laudantium, dolor doloribus quia magni distinctio officiis asperiores minus in, soluta aliquam illo impedit beatae ratione unde repudiandae id veniam! Tenetur blanditiis maxime saepe. Explicabo dolorum, assumenda tenetur expedita impedit placeat odit nihil dignissimos fuga corrupti mollitia laborum error architecto, tempora amet aliquam blanditiis? Magnam totam nostrum beatae pariatur. Dolore, molestias omnis!</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'main/images/crime1.jpg' %}" alt="crime_img" height="300px">
      </div>
    </div>

</section>

{% endblock %}