{% extends 'main/base.html' %}

{% block title %} Report a crime {% endblock %}

{% block body %} 

    {% if user.is_authenticated %}
        <section class="my-5 row d-flex justify-content-center">
            <div class="col-md-5">
                <h3 class="alert alert-primary text-center">Report a crime</h3>
                <form action="/main/reportCrime/" method="post">  {% csrf_token %}
                    <label for="desc">Description</label> <br>
                    <input type="text" id="desc" name="desc" class="form-control"> <br>
                    <label for="phone">Phone</label> <br>
                    <input type="text" id="phone" name="phone" class="form-control"> <br>
                    <label for="location">Location</label> <br>
                    <input type="text" id="location" name="location" class="form-control"> <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary col-md-4">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    {% else %}
        <h4 class="alert alert-danger m-5 text-center">Please login or signup to report a crime</h4>
    {% endif %} 

{% endblock %}



